---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: check-added-large-files

  - repo: https://github.com/homebysix/pre-commit-macadmin
    rev: v1.22.0
    hooks:
      - id: check-autopkg-recipes
        args: ["--recipe-prefix=com.github.smithjw.", "--strict", "--"]
        exclude: ^Xcode/Xcode.pkg.recipe.yaml$
      - id: forbid-autopkg-overrides
      - id: forbid-autopkg-trust-info

  # - repo: https://github.com/adrienverge/yamllint.git
  #   rev: v1.21.0 # or higher tag
  #   hooks:
  #     - id: yamllint
  #   args: [--format, parsable, --strict]

  # - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  #   rev: 0.2.1 # or other specific tag
  #   hooks:
  #     - id: yamlfmt
  #   # args: [--mapping, '2', --sequence, '4', --offset, '2', --width, '80']
