---
Description: Downloads the latest version of Docker and imports it into Munki.
Identifier: com.github.smithjw.munki.Docker
ParentRecipe: com.github.smithjw.pkg.Docker
MinimumVersion: '2.3'

Input:
  NAME: Docker
  MUNKI_REPO_SUBDIR: apps/%NAME%-%ARCHITECTURE%
  pkginfo:
    catalogs:
      - testing
    description: Spice up your Dock a little.
    developer: Docker Inc
    display_name: Docker
    name: '%NAME%-%ARCHITECTURE%'
    unattended_install: true
    supported_architectures: '%ARCHITECTURE%'

Process:
  - Processor: MunkiImporter
    Arguments:
      pkg_path: '%pathname%'
      repo_subdirectory: '%MUNKI_REPO_SUBDIR%'
