Comment: |
  Utilises Shared Processors from https://github.com/jgstew/jgstew-recipes
  This recipe uses the processor StopProcessingIfDownloadUnchanged which by defauly will stop your recipe
  processing if the download has not changed. To override this you can run the recipe with
  --key bypass_stop_processing_if=TRUE
Description: Downloads the latest versions of Docker (arm and intel).
Identifier: com.github.smithjw.download.Docker-Universal
MinimumVersion: '2.4.1'

Input:
  NAME: Docker
  arm_dl_url: 'https://desktop.docker.com/mac/main/arm64/Docker.dmg'
  intel_dl_url: 'https://desktop.docker.com/mac/main/amd64/Docker.dmg'

Process:
  - Processor: URLDownloaderPython
    Arguments:
      filename: 'Docker-arm64.dmg'
      download_dir: '%RECIPE_CACHE_DIR%/downloads'
      url: '%arm_dl_url%'

  - Processor: URLDownloaderPython
    Arguments:
      filename: 'Docker-x86_64.dmg'
      download_dir: '%RECIPE_CACHE_DIR%/downloads'
      url: '%intel_dl_url%'

  - Processor: EndOfCheckPhase
  - Processor: com.github.jgstew.SharedProcessors/StopProcessingIfDownloadUnchanged

  - Processor: CodeSignatureVerifier
    Arguments:
      input_path: '%RECIPE_CACHE_DIR%/downloads/Docker-arm64.dmg/Docker.app'
      deep_verification: true
      strict_verification: true
      requirement: >-
        anchor apple generic and identifier "com.docker.docker" and
        (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or
        certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and
        certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and
        certificate leaf[subject.OU] = "9BNSXJN65R")

  - Processor: CodeSignatureVerifier
    Arguments:
      input_path: '%RECIPE_CACHE_DIR%/downloads/Docker-x86_64.dmg/Docker.app'
      deep_verification: true
      strict_verification: true
      requirement: >-
        anchor apple generic and identifier "com.docker.docker" and
        (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or
        certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and
        certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and
        certificate leaf[subject.OU] = "9BNSXJN65R")
